@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: "Poppins", sans-serif; 
  --color-portfolio-background: hsl(347, 12%, 16%);
  --color-portfolio-foreground: hsl(345, 29%, 87%);
  --color-portfolio-primary: hsl(342, 16%, 20%);
  --color-portfolio-primary-foreground: hsl(345, 29%, 87%);
  --color-portfolio-primary-hover: hsl(342, 16%, 20%);
  --color-portfolio-secondary: hsl(347, 12%, 16%);
  --color-portfolio-secondary-foreground: hsl(345, 29%, 87%);
  --color-portfolio-accent: hsl(347, 24%, 71%);
  --color-portfolio-accent-foreground: hsl(345, 29%, 87%);
  --color-portfolio-card: hsl(347, 12%, 16%, 0.3);
  --color-portfolio-card-foreground: hsl(345, 29%, 87%);
  --color-portfolio-border: hsl(346, 14%, 39%, 0.3);
  --color-portfolio-input: hsl(342, 16%, 20%);
  --color-portfolio-ring: hsl(342, 16%, 20%);
  --color-portfolio-info: hsl(345, 29%, 70%);
  --color-portfolio-info-foreground: hsl(345, 29%, 87%);
  --color-portfolio-text: hsl(345, 29%, 87%);
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
html, body {
  background-color: var(--color-portfolio-background);
  color: var(--color-portfolio-background);
  font-family: var(--font-poppins);
}
@layer utilities {
  .ease-custom {
    transition-timing-function: cubic-bezier(0.43, 0.4, 0.29, 1.02);
  }
}
@layer utilities {
  .card-glass {
    @apply backdrop-blur-lg backdrop-saturate-[1.8] bg-[rgba(17,25,40,0.75)] rounded-[12px] border border-[rgba(255,255,255,0.125)] p-4;
  }
}

.light {
  --font-poppins: "Poppins", sans-serif;
  --color-portfolio-background: hsl(345, 29%, 87%);
  --color-portfolio-foreground: hsl(347, 12%, 16%);
  --color-portfolio-primary: hsl(345, 29%, 70%);
  --color-portfolio-primary-foreground: hsl(347, 12%, 16%);
  --color-portfolio-primary-hover: hsl(345, 29%, 70%);
  --color-portfolio-secondary: hsl(345, 29%, 87%);
  --color-portfolio-secondary-foreground: hsl(347, 12%, 16%);
  --color-portfolio-accent: hsl(345, 29%, 70%);
  --color-portfolio-accent-foreground: hsl(347, 12%, 16%);
  --color-portfolio-card: hsl(345, 29%, 87%, 0.3);
  --color-portfolio-card-foreground: hsl(347, 12%, 16%);
  --color-portfolio-border: hsl(345, 29%, 70%, 0.3);
  --color-portfolio-input: hsl(345, 29%, 70%);
  --color-portfolio-ring: hsl(345, 29%, 70%);
  --color-portfolio-info: hsl(347, 12%, 16%);
  --color-portfolio-info-foreground: hsl(347, 12%, 16%);
  --color-portfolio-text: hsl(347, 12%, 16%);
}